# AWS Elastic Beanstalk Python configuration file
# This file configures how the application is deployed on AWS Elastic Beanstalk

# WSGIPath specifies the WSGI application entry point
    # Format: module:variable
    # "application:application" means import "application" variable from "application" module (app.py)
    # This tells Elastic Beanstalk where to find the Flask app instance to run

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application